*{
  margin: 0;
  padding: 0;
}
.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom left,#85cf0f,#52a367);
  height: 100vh;
  font-size: 25px;
}

main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
  margin-top: 50px;
}

button {
  font-size: 50px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

app-board {
  height: 200px;
  border: 1px solid burlywood;
  border-top-left-radius: 0px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}



.winning-message{
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);

  justify-content: center;
  align-items: center;
  color: purple;
  font-size: 5rem;
  flex-direction: column;
  font-size: 150px;
  display: flex;
}

.winning-message button {
  font-size: 6rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
 background-color: red;
 color: white;
 border-color: white;
}

.winning-message.show {
  display: flex;
}

.message {
  font-size: 100px;
  color: rgba(124, 7, 114, 0.452);
  font-style:
}

